@model ICollection<EmailsApp.DTOs.EmailDto>

<table class="table mt-3 table-sm">
    <thead>
    </thead>
    <tbody>
    @foreach (var email in Model)
    {
        <tr>
            <td>@email.EmailAddress</td>
            <td class="text-end">
                <a
                    onclick="deleteEmail({
                            actionUrl: '@Url.Action("Delete", "Email", new { emailId = email.Id })',
                            emailCount: @Model.Count,
                            emailAddress: '@email.EmailAddress'
                        })"
                    class="btn btn-danger btn-sm">
                    <i class="fa-solid fa-xmark"></i>
                </a>
            </td>
        </tr>
    }
    </tbody>
</table>