@model PersonDetailsViewModel

<table id="emailsTable" class="table mt-3 table-sm">
    <tbody>
    </tbody>
</table>

<div class="d-flex gap-2">
    <div class="w-50">
        @using (Html.BeginForm("Create", "Email", FormMethod.Post, new { id = "addEmailForm" }))
        {
            <input type="hidden" name="personId" value="@Model.Person.Id"/>
            <div class="input-group px-1">
                <input
                    id="emailAddress"
                    type="email"
                    class="form-control"
                    name="emailAddress"
                    placeholder="Email address"
                    required>
                <button type="submit" class="btn btn-primary" id="addEmailButton">
                    <i class="fa-solid fa-plus"></i>
                </button>
            </div>
        }
    </div>
    <p id="emailLimitMessage" class="my-auto text-muted" style="display: none;">You can add up to 5 emails.</p>
</div>

