@model EmailsApp.DTOs.PersonWithEmailsDto

@{
    ViewBag.Title = "Person Details";
    Layout = "_Layout";
}


<div class="col-11 col-md-10 col-lg-9 col-xl-8 col-xxl-7 mx-auto">
    @if (TempData["ErrorMessage"] != null)
    {
        <div class="alert alert-danger text-center" role="alert">
            @TempData["ErrorMessage"]
        </div>
    }

    <h2 class="text-center">Person</h2>
    <div id="display">
        @await Html.PartialAsync("Components/Details/PersonDetails", Model)
    </div>
    <div id="edit" style="display: none;">
        @await Html.PartialAsync("Components/Details/PersonEditForm", Model)
    </div>

    <hr/>

    <h3 class="mt-3">Emails</h3>
    @await Html.PartialAsync("Components/Details/EmailList", Model.Emails)
    @await Html.PartialAsync("Components/Details/EmailAddForm", Model)
</div>

@section Scripts {
    <script src="~/js/personDetails.js"></script>
}